<br/>
<div class = "container">

	<div> 
		<%= "Primary Email: #{@user.email}"%> 
		<% if @user.email.include?("example.com") %>
			<p class="insta_email_message"> (This is an instagram generated email, Kindly edit your email from profile section.) </p>
		<% end %>
	</div>
	<div class='social_conatacts'> </div>
	<div> <%= "Number of Connected Identities: #{@identities.count}" %> </div>

	<br/>

	<table class = "table">
		<tr>
			<th> Provider </th>
			<th> UId </th>
			<th> Import Contacts </th>
			<th> Profile info </th>

		</tr>

		<tr>
			<% facebook_identity = @identities.find{|identity| identity.provider == "facebook" } %>
			
			<% if facebook_identity %>
				<td> <%= facebook_identity.provider %> </td>
				<td> <%= facebook_identity.uid %> </td>
				<td> <%= link_to "Disconnect from Facebook", users_disconnect_path(:identity => "facebook"), :id => "disconnect_facebook" %> </td>
				<th>
					<%= link_to "Refresh Data", user_omniauth_authorize_path(:facebook), :id => "referesh_facebook", class: "profile_viewer" %>
					|
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#fbModal">View Data</button>
					<div class="modal fade" id="fbModal" role="dialog">
						<div class="vertical-alignment-helper">   	
						   	<div class="modal-dialog vertical-align-center">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Profile data</h4>
						        </div>
						        <div class="modal-body">
						        	

						        	<% if facebook_identity.all_data.class.to_s == "String" %>
						        		<% data = JSON.parse(facebook_identity.all_data) rescue {}  %>
						        	<% else %>
						        		<% data = facebook_identity.all_data  %>
						        	<% end %>


						        	<% if data["info"].present? %>
						        		<img class="picture" src=<%= data["info"]["image"]%> alt="Flowers in Chania" width="460" height="345">
						        	<% end %>

									<% if data["extra"].present? %>
										<% if data["extra"]["raw_info"].present? %>
											<% data["extra"]["raw_info"].each_pair do |key, value| %>
											  	<p> <%= key %>: <%= value %> </p>
											<% end %>
										<% end %>
									<% end %>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						</div>
					</div>
				 </th>
			<% else %>
				<td>  </td>
				<td>  </td>
				<td> <%= link_to "Import From Facebook", user_omniauth_authorize_path(:facebook), :id => "connect_facebook" %> </td>
				<td>  </td>
			<% end %>
		</tr>

		<tr>
			<% google_identity = @identities.find{|identity| identity.provider == "google" } %>
			<% identity = google_identity %>
			<% google_social_token = nil %>
			<% if google_identity %>

				<% if google_identity.all_data.class.to_s == "String" %>
	        		<% google_social_token = JSON.parse(google_identity.all_data)["credentials"]["token"] rescue nil %>
	        	<% else %>
	        		<% google_social_token = google_identity.all_data["credentials"]["token"] rescue nil %>
	        	<% end %>

				<td> <%= google_identity.provider %> </td>
				<td> <%= google_identity.uid %> </td>
				<td> <%= link_to "Disconnect from Google", users_disconnect_path(:identity => "google"), :id => "disconnect_google" %> </td>
				<th>
					<%= link_to "Refresh Data", user_omniauth_authorize_path(:google), :id => "referesh_google", class: "profile_viewer" %>
					|
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#googleModal">View Data</button>
					<div class="modal fade" id="googleModal" role="dialog">
						<div class="vertical-alignment-helper">   	
						   	<div class="modal-dialog vertical-align-center">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Profile data</h4>
						        </div>
						        <div class="modal-body">

						        	<% if google_identity.all_data.class.to_s == "String" %>
						        		<% data = JSON.parse(google_identity.all_data) rescue {}  %>
						        	<% else %>
						        		<% data = google_identity.all_data  %>
						        	<% end %>


						        	<% if data["info"].present? %>
						        		<img class="picture" src=<%= data["info"]["image"]%> alt="Flowers in Chania" width="460" height="345">
						        	<% end %>
						        	
						        	<% data.each_pair do |key, value| %>
									  <p><%= key.humanize %>: <%= value %></p>
									<% end %>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						</div>
					</div>
				 </th>

			<% else %>
				<td>  </td>
				<td>  </td>
				<td> <%= link_to "Import From Google", user_omniauth_authorize_path(:google), :id => "connect_google" %> </td>
				<td>  </td>
			<% end %>
		</tr>

		<tr>
			<% linkedin_identity = @identities.find{|identity| identity.provider == "linkedin" } %>
			
			<% if linkedin_identity %>
				<td> <%= linkedin_identity.provider %> </td>
				<td> <%= linkedin_identity.uid %> </td>
				<td> <%= link_to "Disconnect from LinkedIn", users_disconnect_path(:identity => "linkedin"),:id => "disconnect_linkedin" %> </td>
				<th>
					<%= link_to "Refresh Data", user_omniauth_authorize_path(:linkedin), :id => "refresh_linkedin", class: "profile_viewer" %>
					| 
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#linkedinModal">View Data</button>
					<div class="modal fade" id="linkedinModal" role="dialog">
						<div class="vertical-alignment-helper">   	
						   	<div class="modal-dialog vertical-align-center">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Profile data</h4>
						        </div>
						        <div class="modal-body">

						        	<% if linkedin_identity.all_data.class.to_s == "String" %>
						        		<% data = JSON.parse(linkedin_identity.all_data) rescue {}  %>
						        	<% else %>
						        		<% data = linkedin_identity.all_data  %>
						        	<% end %>

						        	<% if data["info"].present? %>
						        		<img class="picture" src=<%= data["info"]["image"]%> alt="Flowers in Chania" width="460" height="345">
						        	<% end %>
						        	<% data.each_pair do |key, value| %>
									  <p><%= key.humanize %>: <%= value %></p>
									<% end %>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						</div>
					</div>
				 </th>

			<% else %>
				<td>  </td>
				<td>  </td>
				<td> <%= link_to "Import From LinkedIn", user_omniauth_authorize_path(:linkedin), :id => "connect_linkedin" %> </td>
				<td>  </td>
			<% end %>
		</tr>

		<tr>
			<% amazon_identity = @identities.find{|identity| identity.provider == "amazon" } %>
			
			<% if amazon_identity %>
				<td> <%= amazon_identity.provider %> </td>
				<td> <%= amazon_identity.uid %> </td>
				<td> <%= link_to "Disconnect from amazon", users_disconnect_path(:identity => "amazon"),:id => "disconnect_linkedin" %> </td>
				<th>
					<%= link_to "Refresh Data", user_omniauth_authorize_path(:amazon), :id => "refresh_amazon", class: "profile_viewer" %>
					| 
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#amazonModal">View Data</button>
					<div class="modal fade" id="amazonModal" role="dialog">
						<div class="vertical-alignment-helper">   	
						   	<div class="modal-dialog vertical-align-center">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Profile data</h4>
						        </div>
						        <div class="modal-body">

						        	<% if amazon_identity.all_data.class.to_s == "String" %>
						        		<% data = JSON.parse(amazon_identity.all_data) rescue {}  %>
						        	<% else %>
						        		<% data = amazon_identity.all_data  %>
						        	<% end %>

						        	<% if data["info"].present? %>
						        		<img class="picture" src=<%= data["info"]["image"]%> alt="Flowers in Chania" width="460" height="345">
						        	<% end %>
						        	<% data.each_pair do |key, value| %>
									  <p><%= key.humanize %>: <%= value %></p>
									<% end %>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						</div>
					</div>
				 </th>

			<% else %>
				<td>  </td>
				<td>  </td>
				<td> <%= link_to "Import From amazon", user_omniauth_authorize_path(:amazon), :id => "connect_linkedin" %> </td>
				<td>  </td>
			<% end %>
		</tr>
		<tr>
			<% instagram_identity = @identities.find{|identity| identity.provider == "instagram" } %>
			
			<% if instagram_identity %>
				<td> <%= instagram_identity.provider %> </td>
				<td> <%= instagram_identity.uid %> </td>
				<td> <%= link_to "Disconnect from instagram", users_disconnect_path(:identity => "instagram"),:id => "disconnect_instagram" %> </td>
				<th>
					<%= link_to "Refresh Data", user_omniauth_authorize_path(:instagram), :id => "refresh_instagram", class: "profile_viewer" %>
					| 
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#instagramModal">View Data</button>
					<div class="modal fade" id="instagramModal" role="dialog">
						<div class="vertical-alignment-helper">   	
						   	<div class="modal-dialog vertical-align-center">
						    
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Profile data</h4>
						        </div>
						        <div class="modal-body">

						        	<% if instagram_identity.all_data.class.to_s == "String" %>
						        		<% data = JSON.parse(instagram_identity.all_data) rescue {}  %>
						        	<% else %>
						        		<% data = instagram_identity.all_data  %>
						        	<% end %>

						        	<% if data["info"].present? %>
						        		<img class="picture" src=<%= data["info"]["image"]%> alt="Flowers in Chania" width="460" height="345">
						        	<% end %>
						        	<% data.each_pair do |key, value| %>
									  <p><%= key.humanize %>: <%= value %></p>
									<% end %>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						</div>
					</div>
				 </th>

			<% else %>
				<td>  </td>
				<td>  </td>
				<td> <%= link_to "Import From instagram", user_omniauth_authorize_path(:instagram), :id => "connect_instagram" %> </td>
				<td>  </td>
			<% end %>
		</tr>

		<tr>
			<% yodlee_identity = @identities.find{|identity| identity.provider == "yodlee" } %>
			
			<% if yodlee_identity %>
				<td> <%= yodlee_identity.provider %> </td>
				<td> <%= yodlee_identity.uid %> </td>
				<td> <%= link_to "Disconnect from yodlee", users_disconnect_path(:identity => "yodlee"),:id => "disconnect_yodlee" %> </td>
				<th>
					<button type="button" class="profile_viewer" data-toggle="modal" data-target="#yodleeModal">Refresh Data</button>
				</th>

			<% else %>
				<td>  </td>
				<td>  </td>
				<td> 
					<button type="button" class="profile_viewer yodlee_import_btn" data-toggle="modal" data-target="#yodleeModal">Import from Yodlee</button>
				</td>
				<td>  </td>
			<% end %>
			<div class="modal fade" id="yodleeModal" role="dialog">
				<div class="vertical-alignment-helper">   	
				   	<div class="modal-dialog vertical-align-center">
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Profile data</h4>
				        </div>
				        <div class="modal-body">
				        	<%= render "users/yodlee_login" %>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        </div>
				      </div>
				      
				    </div>
				</div>
			</div>
		</tr>

	</table>
</div>


<style>
.modal {
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-footer-group;
    vertical-align: middle;
    left: 0px;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    margin-top: 10%;
}
.profile_viewer{
	background: none;
    border: none;
    color: #74a0d5;
    font-weight: normal;
    padding: 0px;
}
.modal-body{
	text-align: left;
}
p{
	word-break: break-word;
	font-weight: normal;
}
.picture{
	height: 100px;
    width: 100px;
    margin-bottom: 20px
}
.table th{
	font-size: 12px;
	text-align: left;
}
.table td{
	font-size: 12px;
	text-align: left;
}
.p0{
	padding: 0;
}
.insta_email_message{
	display: inline;
	color: #fa6363;
}
.yodlee_import_btn{
	color: #428bca;
}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		if ("<%=raw google_social_token %>" != undefined && "<%=raw google_social_token %>" != ""){
			url = "https://people.googleapis.com/v1/people/me/?requestMask.includeField=person.names,person.addresses,person.email_addresses,person.organizations,person.phone_numbers&access_token=" + "<%=raw google_social_token %>"
			$.ajax({
			  	url: url,
			  	success: function(result){
			  		numbers_list = []
			  	  	if (result.phoneNumbers != undefined){
				  	  	for (i = 0; i < result.phoneNumbers.length; i++) { 
							numbers_list += result.phoneNumbers[i].value;
							if (i+1 != result.phoneNumbers.length){
								numbers_list += ', '	
							}
						}
				      	$('.social_conatacts').html("Phone no(s): " + numbers_list)	
			  	  	}else{
			  	  		$('.social_conatacts').html("Phone no(s): " )	
			  	  	}
			    },
			    error: function(xhr, ajaxOptions, thrownError){
			    	$('.social_conatacts').html("Phone no(s): " )
			    }
			});
		}else{
			$('.social_conatacts').html("Phone no(s): " )
		}
	});
</script>