<% if show %>
	<div class="content show" id=<%="contact_#{contact.id}"%>>
<% else %>
	<div class="content" id=<%="contact_#{contact.id}"%>>
<% end %>

	<div class="notes right-col col-sm-offset-1 col-sm-4">
		<div class="title">
			<img class="rect" src="/assetsrectangle.png" alt="">
			<h1> <%= contact.full_name.upcase %> </h1>
			<%= link_to "Edit Contact", edit_user_contact_path(:id => contact.id) %>
			<div class="mail">
				<%= contact.email %>
			</div>
			<div class="phone">
				<%= contact.phone %>
			</div>
		</div>
		<div class="tags">
			<div class="tag">
				<img class="rounded" src="/assetsrounded_1.png" alt="">
				<h4>POKER</h4>
			</div>
			<div class="tag">
				<img class="rounded" src="/assetsrounded_2.png" alt="">
				<h4>OPERA</h4>
			</div>
			<div class="tag">
				<img class="rounded" src="/assetsrounded_3.png" alt="">
				<h4>YAHOO</h4>
			</div>
			<div class="tag">
				<img class="rounded" src="/assetsrounded_4.png" alt="">
			</div>
		</div>
		<div class="note">
			<p>
				<%= contact.contact_notes.last.note if contact.contact_notes.count > 0 %>
				<span class="date"><%= contact.contact_notes.last.updated_at.strftime("%B %e, %Y at %I%p")  if contact.contact_notes.count > 0 %></span>
			</p>
			<div class="links">
				<%= link_to "Add note", new_user_contact_contact_note_path(:contact_id => contact.id) %>
				<%= link_to "Show all notes", user_contact_contact_notes_path(:contact_id => contact.id) %>
			</div>
		</div>
		<div class="note">
			<h2>Work</h2>
			<div class="who">
				<%= contact.job_title %>
			</div>
			<div class="term">
				April 2010 – Present (3 years 7 months) Abu Dhabi, UAE
			</div>
			<p>
				Refactored the whole application and wrote specs and features using
				RSpec and Cucumber. Trained and educated the staff to use new
				technologies by holding presentations and workshops...
			</p>
		</div>
		<div class="note">
			<h2>Education</h2>
			<div class="who">
				BS in Computer Science
			</div>
			<div class="term">
				April 2010 – Present (3 years 7 months) Abu Dhabi, UAE
			</div>
			<p>
				Refactored the whole application and wrote specs and features using
				RSpec and Cucumber. Trained and educated the staff to use new
				technologies by holding presentations and workshops...
			</p>
		</div>
	</div>
</div>