<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7rEnrk-fAIiRdKMyRSijMH7_H2eFgcQ4"></script>


  <!-- <title>Cumulusme</title> -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="row">
		<div class="head col-sm-7">
			<img class="logo" src="/assets/logo.png" alt="">
			<ul class="top-menu" style="padding-left: 5%;">
				<li> <a data-target="#group_section_modal" data-toggle="modal" class="MainNavText" id="MainNavHelp" 
       href="#myModal">GROUPS</a> </li>
				<li> <%= link_to "ACCOUNT", account_users_path %> </li>
				<li> <%= link_to "DASHBOARD", dashboard_users_path %> </li>

				<li>
					<div class="dropdown">
					  <a class="dropbtn">TOOLS
					  	<i class="fa fa-caret-down"></i>
					  </a>
					  <div class="dropdown-content">
					    <a target= "_blank" href="http://webkay.robinlinus.com/">Webkay</a>
					    <a target= "_blank" href="https://clickclickclick.click">Clickclick</a>
					    <a target= "_blank" href="https://panopticlick.eff.org/">Panopticlick</a>
					    <%= link_to "Browser Data", browser_knows_users_path %>
					  </div>
					</div>
				</li>
			</ul>
		</div>
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :id=> "sign-out-btn", :class => "btn btn-primary"%>
		<div class="searcher col-sm-offset-1 col-sm-4">
			<input type="search">
			<img src="/assetssearch.png" alt="">
		</div>
	</header>

	<% if flash[:notice] || flash[:alert] %>
		<p class="container"> <%= flash[:notice] || flash[:alert]%> </p>
	<%end%>

	<%= yield %>

</body>


<div class="modal fade" id="account_section_modal" role="dialog">
	<div class="vertical-alignment-helper">   	
	   	<div class="modal-dialog vertical-align-center1">
	    
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Account</h4>
	        </div>
	        <div class="modal-body info_body">
	        	<img class="logo info_icon" src="/assets/info_icon.png" alt="">
	        	<p> Accounts section is in under construction! <p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	</div>
</div>

<div class="modal fade" id="group_section_modal" role="dialog">
	<div class="vertical-alignment-helper">   	
	   	<div class="modal-dialog vertical-align-center1">
	    
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Group</h4>
	        </div>
	        <div class="modal-body info_body">
	        	<img class="logo info_icon" src="/assets/info_icon.png" alt="">
	        	<p> Groups section is in under construction! <p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	      
	    </div>
	</div>
</div>

<style>
.info_body{
	text-align: center;
}
.info_body img{
	height: 50px;
	width: 50px;
	margin-bottom: 10px;
}
.vertical-align-center1{
    left: 0px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
    display: block;
}
.top-menu a{
	font-size: 16px;
}


</style>
</html>
