<!DOCTYPE html>
<html>
<head>
  <!-- <title>Cumulusme</title> -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="row">
		<div class="head col-sm-7">
			<!-- <img class="logo" src="/assets/logo_2.png" alt=""> -->
			<ul class="top-menu" style="padding-left: 5%;">
				<li> <%= link_to "CONTACTS", user_contacts_path %> </li>
				<li> <a href="#">GROUPS</a> </li>
				<li> <a href="#">ACCOUNT</a> </li>
				<li> <%= link_to "CONNECTION", user_connections_path %> </li>
			</ul>
		</div>
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :id=> "sign-out-btn", :class => "btn btn-primary"%>
		<div class="searcher col-sm-offset-1 col-sm-4">
			<input type="search">
			<img src="/assetssearch.png" alt="">
		</div>
	</header>

	<% if flash[:notice] || flash[:alert] %>
		<p class="container"> <%= flash[:notice] || flash[:alert]%> </p>
	<%end%>

	<%= yield %>

</body>
</html>
